html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
}
.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
}

.copyright { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
}


/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}


.profile-usertitle{
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #2c3e50;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.info{
    color: #2c3e50;
    text-align: left;
    margin-left: 50px;
}


#logOut:hover {
    background-color: white;
    
}

.tab {
    overflow: hidden;
    color: #2c3e50;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
    padding-right: 5%;
    text-align: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #18BC9C;
}

.tab button:disabled:hover{
    background-color: #2c3e50;
}

/* Create an active/current tablink class */
.tab button.active {
    color: #18BC9C;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 12px 24px;

}

.tabcontent p{
	font-style: oblique;
}

.tablinks {
    color: #2c3e50;
   
}


#vehicles, #hotels, #apartments{
    padding-left: 0px;
    margin-left: 0px;

}

#addApartment, #addHotel, #addVehicle{
    position: center;
}











