.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #2c3e50;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
    
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #18BC9C;
    
}

.tab button:disabled:hover{
    background-color: #2c3e50;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #18BC9C;
 }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 12px 24px;
    border: 1px solid #ccc;
    border-top: none;

}

.tabcontent p{
	font-style: oblique;
}

.tablinks {
    color: white;
}

#apartmentTitleNext, #apartmentInfoNext, #apartmentPriceNext, #apartmentExtrasNext, #hotelTitleNext, #hotelInfoNext, #hotelPriceNext, #hotelExtrasNext, #hotelOffersNext, #vehicleTitleNext, #vehicleInfoNext, #vehiclePriceNext{
    background-color: #18BC9C;
    color: white;
    border: solid #18BC9C;
    border-radius: 5px;
    margin-left: 10px;
}


#logOut {
	background-color: red;
    border-radius: 5px;
    text-align: center;
    
}
#logOut:hover {
    background-color: white;
    
}


.customCheckbox {
  float: left;
  position: relative;  
  width: 20px;
  height: 20px;
  background: #eaeaea;
  border-radius: 2px;
  border: 1px solid #d2d2d2;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
  overflow: hidden;
}

.customCheckbox.customCheckboxChecked {
  background: #18BC9C;
  border: 1px solid #18BC9C;
}

.customCheckbox input {
  opacity: 0;
  cursor: pointer;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.customCheckbox span {
  display: none;
  text-align: center;
  line-height: 20px;
  font-size: 90%;
  color: #222;
}

.customCheckbox.customCheckboxChecked span {
  display: block;
}



   